*{
    margin: 0;
    padding: 0;
}

.centro{
    display: flex;
    flex-direction: column;
}

.main-body{
    margin-left: 200px;
    margin-right: 200px;
}

.th{
    padding-bottom: 15px;
}

table{
    padding-bottom: 30px;
}

.form{
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    align-items: center;
    margin-right: 50px;
    position: relative;
    top: 15px;
}


.generos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.generos h1{
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
}

.generos img{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90px;
    height: 100px;
}

.icon{
    margin-left: 30px;
    width: 25px;
    height: 25px;
}



