.home1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home1 > h1{
    text-align: center;
    font-size: 28;
    padding: 30px;
}

.txt{
    display: flex;
    flex-wrap: wrap;
    width: 800px; 
    padding: 25px;  
}

.txt h3{
    padding-bottom: 1em;
}

.txtPd{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 50px;
}

.filmes{
    width: 500px;
}

.filmes h3{
    padding-bottom: 20px;
}

.filmes p {
    max-width: 50ch;
    font-size: 14px;
}

.filmes img{
    padding-bottom: 15px;
    width: 90px;
    height: 90px;
}

.categoria{
    width: 500px;
}

.categoria h3{
    padding-bottom: 20px;
}

.categoria img{
    padding-bottom: 15px;
    width: 90px;
    height: 90px;
}

.categoria p{
    max-width: 50ch;
    font-size: 14px;
}
