*{
    margin: 0;
    padding: 0;
}

.filmes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.filmes h1{
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
}

.filmes img{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90px;
    height: 100px;
}

.icon{
    margin-left: 30px;
    width: 25px;
    height: 25px;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

.form select{
    border: 1px black solid;
    height: 40px;
    width: 350px;
}

.select{
    margin: 2em;
    position: relative;
    top: 10px;
}

.btn{
    position: relative;
    top: 10px;
    margin: 10px;
}